langchain
langgraph
langchain-core
langchain-community
typing-extensions
python-dotenv
langchain-openai
langchain-groq
arxiv
wikipedia
langgraph-cli[inmem]

langchain-mcp-adapters
langgraph_supervisor